<p id="notice"><%= notice %></p>

<p>
  <b>Puesto:</b>
  <%= @caballo_x_carrera.puesto %>
</p>


<%= link_to 'Edit', edit_caballo_x_carrera_path(@caballo_x_carrera) %> |
<%= link_to 'Back', caballo_x_carreras_path %>
